<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="flower-line">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>4 years of experience in building AI/ML models using scikit-learn, PyTorch/TensorFlow, performing data 
          manipulation with pandas, NumPy in Python and R and deploying AI/ML models with Flask and FAST API</p>
      </div>
      <div class="col-lg-4">
        <p>Recent Projects I am working on:  Build Agentic AI to automate workflows   </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/11jyDGtgDNA4S0-Mc-KhJiMZCSmd0xe05/view?usp=share_link" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Click here to learn more about me
        </a>
      </div>
    </div>
  </div>
</section>
